#submit-wrapper {
    text-align: center;
}
#submit {
    padding: 1em;
    border-radius: 1.5em;
    width: 20em;
    margin: 1em auto;
    cursor: pointer;
    background-color: rgb(207, 6, 6);
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 600;
}

form input[id='submit'] {
    border: none;
}

.veh-no {
    height: 2em;
    padding: 0 1em;
    width: 5em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}